.navigation {
    display: flex;
    width: 230px;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 8px 16px;
    position: relative;
    min-height: 100vh;
    min-width: 230px
  }

  .nav_wrapper {
    position: fixed;
    width: 220px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .nav_logo {
    padding: 20px 0 20px 0;
  }

  .flex_wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .menu {
    flex-grow: 9;
  }

  .menu_item {
    display: flex;
    padding: 12px 5px;
    margin: 4px 0;
    width: 100%;
    align-items: center;
    font-size: 16px;
  }

  .menu_item:hover {
    background-color: lightgray;
    border-radius: 5px;
    transition: background-color .3s;
  }

  .icon {
    margin-right: 20px;
    width: 20px;
    height: 20px;
    margin-bottom: 3px;
  }

  .hamburger {
    display: flex;
    align-items: center;
    height: 5%;
    margin-bottom: 30px;;
    padding: 12px
  }

  .hamburger:hover {
    background-color: lightgray;
    border-radius: 5px;
    transition: background-color .3s;
  }


  
